---
import Layout from '../layouts/Layout.astro';
import Kaleidoscope from '../components/Kaleidoscope.astro';
---

<Layout title="Interactive Kaleidoscope">
  <div class="kaleidoscope-container">
    <Kaleidoscope id="k1" />
    <Kaleidoscope id="k2" />
    <Kaleidoscope id="k3" />
  </div>
</Layout>
